*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.container{
    height: 100%;
    background-color: #2C263F;
    height: 100%;
}
.navbar{
    background-color: #694872;
}
.nav-link{
    background-color: #A0D8C8 ;
    width: 70%;
}