*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.container{
    height: 100%;
    background-color: #2C263F;
}
.navbar{
    background-color: #694872;
}
.nav-link{
    background-color: #A0D8C8 ;
    width: 70%;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C263F;
}
.cajamadre {
    display: flex;
}

/* .caja1 {
    border: solid black 1px;
    width: 100%;
    height: 60px;
    background-color: #694872;
    
} */


/* Ranking*/
.caja2 {
    border: solid white 1px;
    border-radius: 10%;
    width: 60%;
    height: 400px;
    margin: 40px;
    background-color: #694872;
}
.titulo--ranking {
    font-size: 50px;
    color: #D88E4E;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 2em;
}
.ranking--usuario {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 40px; 
}
.nombres {
    font-size: 25px;
    font-weight: bold;
}
.user1 {
    color: #D85F75;
}
.user2 {
    color:#A0D8C8;
    
}
.user3 {
    color: #D88E4E;
}
.numeros {
    margin-left: 250px;
    color: white;
}

/* Usuario */
.caja3 {
    border-left: solid white 1px;
    width: 40%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 50px;
}
.img--usuario {
    border: solid black 2px;
    border-radius: 50%;
    padding: 10px;
    background-color: #7F7D7C;
    margin-bottom: 30px;
}
.usuario {
    font-size: 30px;
    color: #D85F75;
   

}
.puntos {
    font-size: 30px;
    color: #D88E4E;

}
.puesto {
    font-size: 30px;
    color: #A0D8C8;

}