*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100%;
    background-color: #2C263F;
}
.nav {
    width: 100%;
    align-items: center;
}
.navbar{
    background-color: #694872;
}
.nav-link{
    background-color: #A0D8C8 ;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C263F;
}

/* --------------Ranking----------------- */
.cajamadre--ranking {
    display: flex;
}
.caja1--ranking{
    border-radius: 30px;
    width: 50%;
    height: 400px;
    margin: 40px;
    background-color: #694872;
    padding: 0;
    display: flex;
    justify-content: center;
}

.titulo--ranking {
    font-size: 3em;
    color: #D88E4E;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 2em;
}
.ranking--usuario {
    margin-top: 4em;
}
.nombres--ranking {
    font-size: 1.7em;
    font-weight: bold;
}
.user1 {
    color: #D85F75;
}
.user2 {
    color:#A0D8C8;
    
}
.user3 {
    color: #D88E4E;
}
.numeros--ranking {
    margin-left: 9em;
    color: white;
}
/* ---------------Usuario----------------- */

.caja2--usuario {
    border-left: solid white 1px;
    width: 40%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 50px;
}
.img--usuario {
    border: solid black 2px;
    border-radius: 50%;
    padding: 1em;
    background-color: #7F7D7C;
    margin-bottom: 2em;
}
.nombre--usuario {
    font-size: 2em;
    color: #D85F75;
}
.puntos--usuario {
    font-size: 2em;
    color: #D88E4E;
    
}
.puesto--usuario {
    font-size: 2em;
    color: #A0D8C8;
    
}
/* --------------FAQ----------------- */

.FAQ--grilla{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 3em; 
}

.titulo--frecuentes{
    color: #D88E4E;
    margin-top: 1em;
    font-size: 3em;
}
.Primer--div{
    background: #694872;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 0.2em;
}
.p--dubium{
    font-size: 1.9em;
    color: #D85F75;
    text-decoration: underline;
}
.primera--info {
    font-size: 1.2em;
    color: white;
}
.Segundo--div{
    background: #694872;
    width: 60%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 0.2em;
}
.p-info {
    font-size: 1.9em;
    color: #A0D8C8;
    text-decoration: underline;
}
.segunda--info {
    font-size: 1.2em;
    color: white;
}
.FAQ--tema{
    color: #D85F75;
    font-size: 1.9em;
    text-decoration: underline;
}
.FAQ--ahorcado{
    color: #A0D8C8;
    font-size: 1.9em;
    text-decoration: underline;
}
.FAQ--muerte{
    color: #D88E4E;
    font-size: 1.9em;
    text-decoration: underline;
}
.FAQ--Info{
    color: white;
    background: #694872;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 1.2em;
}
.FAQ--footer{
    padding: 0.5em;
    margin-top: 1em;
}
/*----------Home----------*/
.HOME--titulo{
    margin-top: 2em;
}
.HOME--titulo h2{
    color: white;
    font-size: 3em;
}
.HOME--titulo img{
    width: 70%;
    margin: 2em 0;
}
.HOME--juegos ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10em;
}
.HOME--juegos ul li{
    list-style-type: none;
    display: inline;
}
.HOME--juegos ul li a:hover{
    color: #2C263F;
}
.HOME--juegos ul li img{
    width: 100%;
    margin: 2em 0;
}
/*IDEA PARA EL FOOTER*/
.HOME--footer{
    margin-top: 1em;
    padding: 0.5em;
}

/* ---------- Index.php ------------ */
#logo{

}

/*---------- registro.php --------- */
.sec-regis{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 2em;
}
.p--registro {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #D88E4E;
}
.form--regis{
    margin: 0 auto;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.in--regis{
    width: 70%;
    border-radius: 10px;
    text-align: center;  
    margin-bottom: 1.5em;
}
.sub--texto{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.boton{
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top:1em;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    color: white;
    border-radius: 10px;
}

.p--boton{
    font-size: 1.4em;
    padding: 2px;
    width: 50%;
    margin: 0;
}
.p--registrarse {
    margin-bottom: 0;
    font-size: 1.2em;
}
.p--usuario {
    color: white;
    font-size: 1.5em;
}
.b--login{
    display: flex;
    justify-content: center;
    width: 10%;
    background-color: #694872;
    border: solid white 2px;
    color: white;
    margin-bottom: 10em;
    border-radius: 10px;
    font-size: 1.2em;
    
}
/* ---------Login------------- */
.titulo--login {
    font-size: 3em;
    margin-top: 1em;
    color: #D88E4E;
}
.login{ 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 10em;
}
.texto--login{
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.form--caja{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.login--form{
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}

.in--login{
    width: 70%;
    border-radius: 10px;
    text-align: center;  
    margin-bottom: 1em;
}
.boton--login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    color: white;
    margin-top:1em;
    border-radius: 10px;
    margin-bottom: 1em;
    font-size: 1.3em;
    text-decoration: none;
}
.boton--login:hover {
    color: white;
    text-decoration: none;
}
/* ---------------Crea tus preguntas----------------- */
.titulo--crea {
    margin-top: 1em;
    color:#D88E4E;
    font-size: 3em;
}
.contenedor--form {
    display: flex;
    margin: 4em auto;
    justify-content: center;
    border: solid white 1px;
    border-radius: 8px;
    padding: 1em;
    width: 80%;
    background-color: #694872;
}
.subtitulos--crea1 {
    color: #A0D8C8;
    font-size: 1.7em;
    margin-top: 1em;
}
.subtitulos--crea2 {
    color: #D85F75;
    font-size: 1.7em;
    margin-top: 1em;
}
.subtitulos--crea3 {
    color: #A0D8C8;
    font-size: 1.7em;
    margin-top: 1em;
}

.cajas--form {
    margin-left: 3em;
    margin-bottom: 1em;
}
.preguntainput--crea {
    width: 110%;
    margin-top: 2em;
    border-radius: 8px;
}
.respuesta--crea {
    margin-top: 2em;
    width: 110%;
    border-radius: 8px;
}
.tematica--crea {
    color: white;
    margin-top: 1.5em;
    margin-right: 1em;
}
.boton--crea {
    font-size: 1em;
    width: 10%;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #A0D8C8;
    margin-bottom: 10em;
    
}
.boton--crea:hover {
    background-color: #D85F75;
    color: white;
}
/*----------------CONTACTO----------------*/ 
.sec--contacto{
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.img--contacto{
    margin-left: 6em;
}
.p--contacto{
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #D88E4E;
}
.caja--contacto{
    margin: 0 auto;
    background-color: #694872;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2em;
}

.p--caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.3em;
}

.caja--contactenos{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 3em auto;
}

.b_contactenos{
    width: 100%;
    font-size: 1.5em;
    padding: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #A0D8C8;
    color: white;
    border: solid white 2px;
    border-radius: 8px; 
}

/*--------Nosotros formulario--------*/
.formulario--nosotros{
    margin: 0 auto;
    border-radius: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}
.form--nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p--nosotros{
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.7em;
    
}
.in--nosotros{
    width: 70%;
    border-radius: 10px;
    text-align: center; 
    
}
.b_nosotros{
    font-size: 1.5em;
    padding: 1px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: white;
    background-color: #A0D8C8 ;
    border: solid white 2px;
    border-radius: 8px;
    width: 5em;
    height: 2em;
    
}
/* ---------------Footer----------------- */

footer {
    color: white;
}
.copy {
    color: white;
}
.ul--footer {
    display: flex;
    justify-content: center;
}   
.li--footer {
    margin-left: 3em;
}
.icono--footer {
    font-size: 1.5em;
}
/* MEDIA QUERy*/


@media (max-width: 768px){
/*Comentario*/
/*-----------Home-----------*/

.HOME--juegos ul{
    display: grid;
    grid-template-columns: auto;
    column-gap: 10em;
}
.HOME--titulo h2{
    color: white;
    font-size: 2em;
}
.HOME--juegos ul li img{
    width: 70%;
    margin: 2em 0;
}

/* -------------Media query FAQs----------------- */

/*Media queries registro */
    .container{
        max-width: 95%;
        height: 100vh;
        padding: 10px;
    }
    .form--regis{
        width: 90vw;
    }
    .boton{
        width: 45vw;
    }
    .p--boton{
        margin-right: 40px;
    }
    .b--login{
        width: 45vw;
    }
    .login--form{
        width: 90vw;
    }
    
    /*-------media queries contacto-------- */
    .caja--contacto{
        width: 85vw;
    }
    .p--caja{
        width: 80vw;
    }
/* --------------media queries nosotros ------*/
    .container{
        max-width: 95%;
        height: 100%;
        padding: 10px;
    }
    .formulario--nosotros{
        width: 90vw;
    }
}

/* ------ Usuario/ Ranking media queries------- */
@media (max-width: 1200px){
    .titulo--ranking{
        margin-left: 0;
    }
    .caja2 {
        margin-left: 0;
        width: 50vw;
    }
    .numeros{
        margin-left: 4em;
    }
}

@media (max-width: 768px){
    .numeros {
        margin-left: 4em;
    }
    .cajamadre {
        flex-wrap: wrap-reverse;
    }
    .caja2 {
        width: 90%;
        margin-left: 2em;
        margin-bottom: 6em;
    }
    .caja3 {
        width: 90%;
        margin-top: 2em;
        margin-left: 2em;
        margin-bottom: 2em;
        height: 430px;
        border: solid white 1px;
        border-radius: 8px;
        background-color: #694872;
    }
    .img--usuario{
        margin-top: 1em;
    }
    .titulo--ranking {
        order: initial;
    }
}

@media(max-width:770px){
    /* -------media queries Crea tus preguntass ----- */
    .contenedor--form {
        flex-wrap: wrap;
        padding-left: 0;
    }
    .cajas--form {
        margin-left: 2em;
    }
    .boton--crea{
        width: 20%;
    }
    
}
@media(max-width:460px){
    .preguntainput--crea {
        width: 100%;
    }
    .respuesta--crea{
        width: 100%;
    }
}









