*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 100%;
    background-color: #2C263F;
}
.nav {
    width: 100%;
    align-items: center;
}
.navbar{
    background-color: #694872;
    
}
.nav-link{
    background-color: #A0D8C8 ;

}


body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2C263F;
}
.cajamadre {
    display: flex;
}
/* --------------Ranking----------------- */

.caja2 {
    border: solid white 1px;
    border-radius: 8px;
    width: 50%;
    height: 400px;
    margin: 40px;
    background-color: #694872;
    padding: 0;
}
.titulo--ranking {
    font-size: 3em;
    color: #D88E4E;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 2em;
}
.ranking--usuario {
    margin-top: 4em;
    /* margin-bottom: 2em; */
    /* margin-right: 40px;  */
}
.nombres--ranking {
    font-size: 1.7em;
    font-weight: bold;
}
.user1 {
    color: #D85F75;
}
.user2 {
    color:#A0D8C8;
    
}
.user3 {
    color: #D88E4E;
}
.numeros {
    margin-left: 9em;
    color: white;
}
/* ---------------Usuario----------------- */

.caja3 {
    border-left: solid white 1px;
    width: 40%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 50px;
}
.img--usuario {
    border: solid black 2px;
    border-radius: 50%;
    padding: 1em;
    background-color: #7F7D7C;
    margin-bottom: 2em;
}
.nombre--usuario {
    font-size: 2em;
    color: #D85F75;
}
.puntos {
    font-size: 2em;
    color: #D88E4E;
    
}
.puesto {
    font-size: 2em;
    color: #A0D8C8;
    
}
/* --------------FAQ----------------- */

.FAQ--titulo{
    color: #D88E4E;
    margin-top: 2em;
    font-size: 3.12em;
}
.FAQ--du{
    color:#D85F75;
}
.FAQ--bi{
    color:#A0D8C8;
}
.FAQ--um{
    color:#D88E4E;
}
.FAQ--reglas{
    color:#D85F75;
}
.FAQ--del{
    color: #A0D8C8;
}
.FAQ--juego{
    color: #D88E4E;
}

@media (max-width: 768px){

}

@media (max-width: 600px){
    
}
    
    
/* REGISTRO.php ESTILOS */
.sec-regis{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 2em;
}
.p--registro {
    font-size: 3em;
    margin-bottom: 1em;
    color: white;

}
.form--regis{
    margin: 0 auto;
    border: solid white;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #694872;
    margin: 3em auto;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;

} 
.in--regis{
    width: 70%;
    border-radius: 10px;
    text-align: center;
    
}
.sub--texto{
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.boton{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #A0D8C8 ;
    border: solid white;
    color: white;
    margin-top:1em;
    border-radius: 10px;
    margin-bottom: 1em;
}
.p--boton{
    font-size: 1em;
    width: 40%;

}
.b--login{
   margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #694872;
    border: solid white;
    color: white;
    margin: 10em auto;
    border-radius: 10px;
    font-size: 1.2em;
    
}
/* LOGIN*/
.login{
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 2em;
}
/* ---------------Crea tus preguntas----------------- */
.titulo--crea {
    margin-top: 1em;
    color:#D88E4E;
    font-size: 3em;
}
.contenedor--form {
    display: flex;
    margin: 4em auto;
    justify-content: center;
    border: solid white 1px;
    border-radius: 8px;
    padding: 1em;
    width: 80%;
    background-color: #694872;
}
.subtitulos--crea {
    color: white;
    font-size: 1.7em;
    margin-top: 1em;
}
.cajas--form:first-of-type {
    margin-left: 0;
}
.cajas--form {
    margin-left: 4em;
    margin-bottom: 1em;
}
.preguntainput--crea {
    width: 110%;
    margin-top: 2em;
    border-radius: 8px;
}
.respuesta--crea {
    margin-top: 2em;
    width: 110%;
    border-radius: 8px;
}
.tematica--crea {
    color: white;
    margin-top: 2em;
    margin-right: 1em;
}
.boton--crea {
    font-size: 1em;
    width: 10%;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #D85F75;
    margin-bottom: 10em;
    
}
.boton--crea:hover {
    background-color: #A0D8C8;
    color: white;
}
/* ---------------Footer----------------- */
footer {
    color: white;
}

.copy {
    color: white;
}
.ul--footer {
    display: flex;
    justify-content: center;
}   
.li--footer {
    margin-left: 3em;
}
.icono--footer {
    font-size: 1.5em;
}
